
<ol>
<li><%= @jim.name %></li>
</ol>


<h2>jim's vendor id Sums</h2>
<%=@jim%>
<br>
<br>
<%= link_to "#{@vendors}", vendor_path %>
<h1>Top vendorss for jim</h1>
<ol>
<!-- parameter in path name in line 18 is for specific! show page-->
<% @jim.vendor.each do |vendors| %>
<li><%= link_to "#{vendors.name}", vendors_path(vendors.id) %></li>
  <%end %></ol>

<h2> Featured Blog vendor </h2>
<%= link_to "#{@jim.vendors.name}", vendor_path%>
